**/__pycache__/**

*.ckpt
*.pth
*.onnx
*.engine
*.profile
*.timing
*.dfm
*.trt
models/liveportrait_onnx/*.onnx
models/liveportrait_onnx/*.trt
saved_parameters*.json
startup_parameters*.json
data.json
merged_embeddings*.txt
.vs
*.sln
*.pyproj

.vscode/
tensorrt-engines/
source_videos/
source_images/
output/
test_frames*/
test_videos*/
install.dat
visomaster.ico
dependencies/CUDA/
dependencies/Python/
dependencies/git-portable/
dependencies/TensorRT/
*.mp4
*.jpg
*.exe
.thumbnails

# Build / installer artifacts
build/
dist/
installer/
*.spec
*.iss
*.msi
*.pkg

*.dll
